* {
  box-sizing: border-box;
  margin: auto;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="checkbox"] {
  /* appearance: none; */
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  /* align-items: flex-end; */
  /* display: flex; */
  /* display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px */
  /* float: left; */
}

label {
  display: flex;
  flex-direction: column-reverse;
  font-size: large;
  margin: 1rem;

}

input[type="text"] {

  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  padding: 2%;
  color: #555;
  font-size: large;
  border: 1px solid black;
}

input[type="radio"] {
  /* appearance: none; */
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}


nav {
  padding: 3rem;
  background-color: #00693E;
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

 /* {
  background-color: #264356;
  height: 200px;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
} */

.top {
  /* height: 590px; */
  /* width: 400px; */
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  /* padding: 40px 40px; */
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.info {
  padding: 10px;
}

h1,
h2,
p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}